@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

/*
1. Positioning
2. Box model
3. Font
4. Visuals
5. Other
*/

:root {
  /* Base Colors */
  --primary-color: #00acbf;
  --secondary-color: #e5e5e5;
  --third-color: #1f252d;

  /* Neumorphism Effect Colors*/
  --shadow-up: #c3c3c3;
  --shadow-down: #ffffff;
}

/* 
================
General Styles
================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 200vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  transition: 0.3s ease-out;
}

h2 {
  font-size: 3.6rem;
  color: var(--third-color);
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--third-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
label {
  font-size: 1.6rem;
  color: var(--third-color);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
}

label {
  border-bottom: 2px solid var(--primary-color);
  width: fit-content;
}

input {
  height: 5rem;
  border: none;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--third-color);
  color: var(--primary-color);
}

textarea {
  height: 10rem;
  background-color: transparent;
  padding: 1rem;
  color: var(--primary-color);
}

input:focus,
textarea:focus {
  border-color: transparent;
  outline: 2px solid var(--primary-color);
  background-color: #fff;
}

main {
  margin-top: 8rem;
}

/*
================
Reusable styles
================
*/

.neumorphism {
  border-radius: 2rem;
  background: var(--secondary-color);
  box-shadow: 20px 20px 60px var(--shadow-up), -20px -20px 60px var(--shadow-down);
  padding: 4rem 2rem;
}

.headings {
  text-align: center;
  line-height: 1;
  color: var(--primary-color);
  padding: 1rem;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: var(--third-color);
  color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn.cta {
  width: 12rem;
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #e5e5e5;
  border: 1px solid transparent;
}

.btn.cta:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn.cta:active {
  transform: scale(0.98);
}

.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
  background-color: var(--primary-color);
}

/* 
================
Custom Styles
================
*/

body.dark {
  --secondary-color: #1f252d;
  --third-color: #e5e5e5;

  --shadow-up: #1a1f26;
  --shadow-down: #242b34;

  transition: 0.3s ease-out;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-bottom: 1px solid var(--third-color);
  transition: 0.3s ease-out;
}

/*
-----------------------------
Navigation Bar
-----------------------------
*/

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  background-color: var(--primary-color);
}

.nav ul li {
  list-style-type: none;
}

.nav ul li a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  color: #e5e5e5;
  text-decoration: none;
  transition: 0.2s;
}

.logo {
  font-size: 3.6rem;
  text-decoration: none;
  color: var(--primary-color);
}

/*
-----------------------------
Hero Section
-----------------------------
*/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 16rem);
  padding: 2rem;
  gap: 2rem;
}

.hero div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

/*
-----------------------------
Main Section
-----------------------------
*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80vw;
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  padding: 4rem 2rem;
}

.skills article:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills article:first-child p {
  max-width: 40rem;
  text-align: center;
  margin-bottom: 2rem;
}

.skills div {
  gap: 2rem;
}

.skills .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  width: 35rem;
  padding: 2rem;
}

.skills .card img {
  height: 18rem;
}

.skills .card p {
  width: 80%;
  text-align: center;
}

.skills .card h3 {
  text-align: center;
}

.projects {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects div {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.project-card {
  max-width: 80vw;
  padding: 0;
  border-radius: 1rem;
}

.project-card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.project-links {
  flex-direction: column;
  align-items: center;
}

.project-links > a {
  font-size: 1.6rem;
  color: #00acbf;
}

/*
-----------------------------
Contact Section
-----------------------------
*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 8rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 35rem;
  margin: 4rem 1rem 1rem 1rem;
}

/*
-----------------------------
Footer Section
-----------------------------
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 8rem 0;
}

footer i {
  margin: 1rem;
  font-size: 3.6rem;
  color: var(--third-color);
  transition: 0.3s;
}

/*
================
Media Queries
================
*/

@media (min-width: 768px) {
  header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--secondary-color);
  }

  .nav ul {
    position: relative;
    gap: 3rem;
    background-color: transparent;
  }

  .nav ul li:hover a {
    color: var(--primary-color);
    transform: translateY(-1rem);
    transition: transform 0.2s;
  }

  .nav ul li a {
    color: var(--third-color);
  }

  .hero {
    margin-top: 8rem;
  }

  .skills div {
    display: flex;
    justify-content: center;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .project-card {
    width: 50rem;
  }

  .contact-content {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  footer {
    margin-bottom: 1rem;
  }

  .btn.cta {
    background-color: var(--primary-color);
    color: #e5e5e5;
  }

  .btn i {
    color: var(--primary-color);
  }
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: space-around;
    min-height: calc(100vh - 8rem);
  }

  .hero h2 {
    font-size: 4.2rem;
  }

  .hero h3 {
    font-size: 2.8rem;
    text-align: left;
  }

  .skills div {
    justify-content: space-around;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  footer i:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
    transition: 0.3s;
  }

  .btn.cta {
    margin: 0 auto;
  }
}
